// .dashboard-ix {
//   .dashboard-container{
//     .dashboard-image-account {
//       width: 60%;
//     }
//     .main-widgets{
//       .main-widgets-header{
//         width: 100%;
//       }
//       .main-widgets-text{
//         width: 100%;
//       }
//     }
//     .dashboard-header{
//       height: 35%;
//       position: relative;
//       &::before{
//         content:'';
//         position: absolute;
//         height: 8px;
//         width: 100%;
//         top:0;
//         left: 0;
//         background-color: #0376e0;
//       }
//       &::after {
//         content:'';
//         position: absolute;
//         height: 8px;
//         width: 100%;
//         bottom: 0;
//         left: 0;
//         background-color: #49258f;
//       }
//     }
//     .dashboard-data{
//       height: 65%;
//       .dashboard-data-info,
//       .dashboard-data-calendar {
//         position: absolute;
//         top: -2rem;
//         border-radius: 5px;
//         border-color: transparent;
//         -webkit-box-shadow: 0px 7px 50px -7px rgba(0, 0, 0, 0.25);
//         -moz-box-shadow: 0px 7px 50px -7px rgba(0, 0, 0, 0.25);
//         box-shadow: 0px 7px 50px -7px rgba(0, 0, 0, 0.25);
//       }
//       .dashboard-data-info{
//         width: 68%;
//         left:2rem;
//       }
//       .dashboard-data-calendar{
//         width: 25%;
//         right: 2rem;
//       }
//     }
//   }
// }

.dashboard-header{
  height:$dashboardHeaderHeight;
  .main-cards{
    &:nth-child(even){
      background-color: #0376e0;
      color: white;
    }
    &:nth-child(odd) {
      background-color: white;
    }
  }
}
.dashboard-body{
  height: $dashboardBodyHeight;
  .dashboard-data{
    top:-1rem;
    left: 1rem;
    overflow: hidden;
    .stories-slider-container{
      height: 50%;
      #storiesSlider{
        height: 100%;
        .slick-list{
          height: 100%;
          .slick-track{
            height: 100%;
            .slick-slide,{
              height: 100%;
              div{
                height: 100%;
                .storie-image-container{
                  position: relative;
                  overflow: hidden;
                  background-size: 120%;
                  background-position: 50%;
                  .storie-insights{
                    height: 45%;
                    width: 70%;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: 0 auto;
                    background: white;
                    .storie-insights-data{
                      line-height: 0;
                      height: 20%;
                      .storie-insights-icon{
                        color: white;
                        background:#383838;
                        width: 14%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .stories-slider-button{
        &:hover{
          background: rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
      }
    }

    // .storie-cards{
    //   height: 42%;
    //   .storie-image-container{
    //     height: 50%;
    //     position: relative;
    //     overflow: hidden;
    //     background-size: 120%;
    //     background-position: 50%;
    //   }
      // .storie-insights{
      //   height: 50%;
      //   .storie-insights-data{
      //     line-height: 0;
      //     height: 20%;
      //     .storie-insights-icon{
      //       color: white;
      //       background:#383838;
      //       width: 10%;
      //       height: 100%;
      //     }
      //   }
      // }
    // }
  }
  .dashboard-filter {
    top: -1rem;
    right: 1rem;
  }
}
